body {
  box-sizing: border-box;
  font-family: Comfortaa, "sans-serif", Georgia, "Times New Roman", Times, serif;
}

header {
  display: flex;
  padding: 16px 240px 54px;
  align-items: center;
  justify-content: space-between;
  font-size: 23px;
}

header a {
  text-decoration: none;
  color: #254626;
}

header a:hover {
  text-decoration: underline;
  color: #64c209;
}

.main-content {
  background-image: url(img/mainBackground.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 836px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: Merriweather;
  font-size: 65px;
  font-weight: 700;
  color: #254626;
  margin-top: 92px;
  line-height: 0px;
}

h3 {
  font-size: 12px;
  color: #254626;
  line-height: 0px;
}

.main-orderButton {
  padding: 15px 28px;
  background-color: #64c209;
  color: #fff;
  text-decoration: none;
  margin-top: 52px;
}
