.container-footer {
  background-color: #64c209;
  display: flex;
  justify-content: space-between;
  padding: 25px 120px;
}

.last-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 12%;
  border-right: 2px solid #254626;
}

.footer-title {
  font-family: Comfortaa;
  font-size: 30px;
  color: #254626;
}

.footer-text {
  padding-top: 15px;
  font-family: Comfortaa;
  font-size: 22px;
  color: #254626;
}
